

body {
  font-family: 'Arial', sans-serif;
}

.app {
  max-width: 1200px;
  margin:  50px;
  padding: 20px;
  background-color: #DFBDB5 ;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 14%;
  max-height:1400px
}
.ag-root-wrapper-body.ag-layout-normal{
  height:500px !important
}
.chartDiv{
  height:700px;
  width:600px;
  margin-left: 24%;
}
.loginDiv{
  padding:10px;
  text-align: center;
}
.username, .password{
  padding: 6px;
  margin: 6px;
}
.btn{
  background-color: slateblue;
  padding: 10px;
  color:white
}
input{
padding:10px
}
